h1{
    color: blue
}
p{
    color:rgb(107, 126, 126)
}
button{
    color:blueviolet;
    background-color: green;
}
body{
    background-color: rgb(146, 83, 146);
}
#name1{
    color :yellowgreen


}
.myClass{
    color: rgb(36, 36, 168);
    /* font-family :Arial, Helvetica, sans-serif */
    font-family: cursive;
}
#box{

    background-color: #0000ff;
}
.heading4{
   text-align: left;
   color: black;
}
.heading5{
    text-align: center;
}
.heading6{
    font-weight: lighter;
    /* text-align: end; */
}
#secondPara{
    text-align: center;
    color: rgb(80, 78, 57);
    background-color: black;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#new{
    color: rgb(48, 44, 51);
    text-align: center;
    text-decoration: underline;
    text-decoration: overline;
}
a{
    display: block;
    text-align: center;
 text-decoration: green wavy overline;
}