*{
    padding: 0;
    margin: 0;
}
body{
    background-color: blue;
}
#Navbar{
    background-color: #0f1111;
    height: 60px;
    border: 4px solid  white;
    
}
a{
    color :white;
    margin-right: 200px;
}
button{
    background-color: #f08804;
}
/* #Account, #Cart, #Contact{
    padding: 0px 100px 0px 100px;
} */

#logo{
    color: #f08804;
    font-size: 25px;
    padding: 0px 100px 0px 0px
}