body{
    margin: 0px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: lightgrey;
    /* height: 80vh;
    width: 80vw; */
    height: 500px;
    width: 500px;
    overflow: hidden;
}
.loader{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: pink;
    border: 2px solid red;
    border-top : 5px solid  teal;
    border-bottom: 5px solid teal;
    animation: spinMove 8s ease-in 2 alternate;
    /* animation: spin 6s ease-in 0s infinite alternate-reverse; */
    /* animation: spin 0.5s linear 2s 5 normal; */
     /* animation: spin 1s linear infinite,
               move 6s ease-in-out infinite; */
}
/* Outer box hover */
.outerbox:hover {
    background-color: purple;  /* changes outer box color */
    border: 2px solid black;
}

/* Loader hover */
.loader:hover {
    /* transform: translate(-200px,0px); */
    background-color: rgb(102, 93, 94);        /* changes loader color */
    /* transform: scale(1.2);         scales loader */
    color: white;                  /* changes text color */
}

/* @keyframes spin {
    0% { transform: rotate(0deg) scale(1) translate(0,0);}
    100% { transform: rotate(360deg) scale(3) translate(200px,100px);}
} */
/* .loader{
    animation: spin 2s linear 5 normal;
} */
/* .outerbox:hover{ */
    /* animation: spin 4s ease-in 0s infinite alternate-reverse; */
    /* background-color : darkblue;
 } */
    /* animation: spin 0.5s linear 2s 5 normal; */
/* 
@keyframes spin {
    0% { transform: rotate(0deg) ;transform:scale(1) translate(0);}
    100% { transform: rotate(360deg) ;transform:scale(3) translate(200px,100px);}
} */
/* .loader{
    animation: spin 2s linear 5 normal;
} */
/* div:hover{
    animation: spin 6s ease-in 0s infinite alternate-reverse; 
     background-color : paleturquoise;
 } */

 /* Self-rotation */
/* @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */

/* Movement between two points (inside screen) */
/* @keyframes move {
    0%   { transform: translate(0,0); }
    50%  { transform: translate(200px,150px); } 
    100% { transform: translate(0,0); }
} */

@keyframes spinMove {
    0%   { transform: translate(-200px,-200px) rotate(0deg); }
    25%  { transform: translate(-100px,200px) rotate(180deg); }
    50%  { transform: translate(0px,-200px) rotate(360deg); }
    75%  { transform: translate(100px,200px) rotate(180deg); }
    100% { transform: translate(200px,-200px) rotate(0deg); }
}