div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: lightblue;
    position: absolute;
    top: 100px;
    left: 100px;

    /* transition-property: all; transition-duration: 2s; 
       transition-timing-function: steps(5); transition-delay: 2s; */

    /* transition :all 0.5s ease-in-out 2s; */

    /* rotate: y 20deg; */
    /* rotate:z 20deg; */
    /* transform: scale(2); */
    /* transition :all 2s ease-in; */

    /* animation-name: myName;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
   animation-direction: alternate-reverse; */
    /* animation-direction: alternate; */
    animation: myName 4s ease-in-out 0s infinite alternate;
}

/* KEYFRAMES MUST BE OUTSIDE */
@keyframes myName {
    0%{
        left: 0px;
        background-color: lightblue;
    }
    50%{
        left: 100px;
        background-color: yellow;
    }
    100%{
        left: 200px;
        background-color: red;
    }
}

/* HOVER MUST BE OUTSIDE */
div:hover {
    background-color: lightgreen;
    color: rgb(50, 53, 46);

    /* font-size: 20px ; */
    /* transform: scale(2); */
    /* transform: translate(90px, 90px); */
    /* rotate: y 20deg; */
    /* rotate: 360deg; */
    /* transform: skew(45deg); */

    /* 
    @keyframes myName{
      from{ font-size: 20px; }
      to{ font-size: 40px; }
    }
    (but keyframes cannot be inside hover)
    */
}

/* ACTIVE MUST BE OUTSIDE */
div:active {
    background-color: orange;
    color: white;
}
