div{
    width:100px;
    height:100px;
    background-color: aqua;
    border: 2px solid black;
    display:inline-block;
}
body{
    /* Use image2.jpeg in /Images as requested */
    background-image: url('image2.jpeg');
    background-size: cover;
    /* background-position: center;
    background-repeat: no-repeat; */
}
/* #box1{
    position: static;
    background-image: url('../../Images/image1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
 #box1{
    position: static;
    /* background-image: url('../../Images/image1.jpeg'); */
    background-image: url('image1.jpeg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#box2{
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 1;
    background-image: url('image2.jpeg');
    background-size: cover;
}
#box3{
    position:absolute;
    /* position: sticky; */
    top:80px;
    right:75%;
    /* right:50%; */
    /* z-index: -2  ; */
}
#box4{
    position:fixed;
    bottom:50%;
    left:50%;
}