.navbar{
    border: 2px solid black ;
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color :red;
    background-color: white;
}
li{
    list-style-type: none;
    background-color: lightseagreen;
    /* display: inline; */
}
#outer{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#inner{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: lightgreen;
    align-self: center;
}