h1{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
#FlexBox{
    text-align: center;
    border :2px solid black ;
    background-color: gray; 
    padding :0px 50px 50px 50px ;
    display:flex;
    /* flex-direction: row-reverse; */
    flex-direction:column;
}
#box1, #box2, #box3, #box4, #box5{
    font-weight : light;
    font-size: 16px;
    border: 2px solid black; 
    padding: 10px;
    /* margin: 0px 10px 10px 10px; */
    background-color: grey;
    display: inline-block;
    width: 80px;
    height: 80px;
}  
#box1{
    background-color: lightblue;        
}   
#box2{
    background-color: pink;        
}   
#box3{
    background-color: rgb(139, 139, 57);       
}
#box4{
    background-color: rgb(158, 70, 55);        
}   
#box5{
    background-color: darkblue;
}
