/* 
 .navbar{
    border: 2px solid black ;
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color :red;
    background-color: white;
}
li{
    list-style-type: none;
    background-color: lightseagreen;
    display: inline;
}
#outer{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: lightgreen;
    align-self: center;
}  */


div{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: orange;
 
}
/* @media (min-width: 200px) and (max-width: 400px) 
{
    div{
        background-color: lightgreen;
    }
}
@media(min-width:500px){
    div{
        background-color: lightpink;
    }
} */
 @media (max-width: 300px){
    div{
        background-color: green;
    }
 }
 @media (min-width:300px) and (max-width:400px){
    div{
        background-color: pink;
    }
 }
 @media (min-width:400px) and (max-width:600px){
    div{
        background-color: red;
    }
 }
@media (min-width:600px){
    div{
        background-color: blue;
    }
 }