h1{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
#FlexBox{
    text-align: center;
    height: 600px;
    width: 600px;
    border :2px solid black ;
    background-color: gray; 
    /* padding :0px 50px 50px 50px ; */
    display:flex;
    /* flex-direction: row-reverse; */
    /* flex-direction:column-reverse; */
    /* height: 200px; */
    flex-direction: row;
     align-items: flex-start;
    justify-content: center;
    /* flex-wrap:wrap-reverse; */
    /* align-content: center; */
    /* flex-wrap: wrap; */

}
#box1, #box2, #box3, #box4, #box5{
    font-weight : light;
    font-size: 16px;
    border: 2px solid black; 
    padding: 10px;
    /* margin: 0px 10px 10px 10px; */
    background-color: grey;
    display: inline-block;
    width: 200px;
    height: 50px;
}  
#box1{
    background-color: lightblue;        
}   
#box2{
    background-color: pink;  
    height:200px;
    /* align-self: flex-end;  */
    flex-shrink: 0.2;
}   
#box3{
    background-color: rgb(139, 139, 57);     
    height: 75px;  
}
#box4{
    background-color: rgb(158, 70, 55);        
}   
#box5{
    background-color: darkblue;
     /* align-self: flex-end;  */
}
