div{
    height: 50px;
    background-color: pink;
    /* width: 500px; */
    /* border-width : 2px;
    border-style:dashed;
    border-color:rgb(0,255,0); */
    text-align: left;
    border: 2px solid #161616;
    border-radius: 15px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px; */
    padding: 25px 20px 15px 20px;
    margin: 25px;
}
h1{
    width: 300px;
    color:blue;
    /* border-style: dashed;
    border-color: aquarine;
    border-width: 2px; */
    text-align: center;
    border: 2px dashed aquamarine;
}
#test{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}